@use '../../abstracts/' as *;
@use '../variables/index' as *;

header {
  padding: $size-8;
}

main {
  margin-bottom: $size-16;
}

main,
footer {
  padding: $size-8;
  margin: 0 auto 0 auto;
}

footer {
  max-width: $size-1096px;
}
