/* Sizes  */
$size-0: 0; // 0px
$size-1: 0.25rem; // 4px
$size-2: 0.5rem; // 8px
$size-3: 0.75rem; // 12px
$size-4: 1rem; // 16px
$size-5: 1.25rem; // 20px
$size-6: 1.5rem; // 24px
$size-7: 1.75rem; // 28px
$size-8: 2rem; // 32px
$size-9: 2.25rem; // 36px
$size-10: 2.5rem; // 40px
$size-11: 2.75rem; // 44px
$size-12: 3rem; // 48px
$size-13: 3.25rem; // 52px
$size-14: 3.5rem; // 56px
$size-15: 3.75rem; // 60px
$size-16: 4rem; // 64px
$size-17: 4.25rem; // 68px
$size-18: 4.5rem; // 72px
$size-19: 4.75rem; // 76px
$size-20: 5rem; // 80px
$size-22: 6rem; // 96px
$size-24: 7rem; // 112px
$size-26: 8rem; // 128px
$size-28: 9rem; // 144px
$size-30: 10rem; // 160px
$size-32: 11rem; // 176px
$size-34: 12rem; // 192px
$size-36: 13rem; // 208px
$size-38: 14rem; // 224px
$size-40: 15rem; // 240px
$size-42: 16rem; // 256px
$size-44: 17rem; // 272px
$size-46: 18rem; // 288px
$size-48: 19rem; // 304px
$size-50: 20rem; // 320px

$size-0px: 0rem;
$size-4px: 0.25rem;
$size-8px: 0.5rem;
$size-12px: 0.75rem;
$size-16px: 1rem;
$size-20px: 1.25rem;
$size-24px: 1.5rem;
$size-28px: 1.75rem;
$size-32px: 2rem;
$size-36px: 2.25rem;
$size-40px: 2.5rem;
$size-44px: 2.75rem;
$size-48px: 3rem;
$size-52px: 3.25rem;
$size-56px: 3.5rem;
$size-60px: 3.75rem;
$size-64px: 4rem;
$size-68px: 4.25rem;
$size-72px: 4.5rem;
$size-76px: 4.75rem;
$size-80px: 5rem;
$size-96px: 6rem;
$size-112px: 7rem;
$size-128px: 8rem;
$size-144px: 9rem;
$size-160px: 10rem;
$size-176px: 11rem;
$size-192px: 12rem;
$size-208px: 13rem;
$size-224px: 14rem;
$size-590px: 36.875rem;
$size-640px: 40rem;
$size-768px: 48rem;
$size-1096px: 68.5rem;
$size-1024px: 64rem;
$size-1200px: 75rem;
$size-1280px: 80rem;
$size-1366px: 85.375rem;
